/* General Styles */

body {
  background-color: rgba(128, 128, 128, 0.273);
  font-family: 'Helvetica Neue';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.content {
  transition: opacity 1s ease-in-out;
}

/* Header Styles */

.Header {
  font-size: 16px;
  font-weight: 200;
  margin: 0.1em 0 0 0.04em;
  padding: 6px;
}

.Header h2 {
  font-size: 20px;
}

.Header .myname {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
}

/* Navigation Styles */

.navbar {
  align-items: center;
  display: block;
  float: left;
  margin: 0 auto;
  margin-top: 20px;
  z-index: 10;
}

.navbar a {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.navbar a:hover {
  color: #73AD21;
  mix-blend-mode: difference;
}

.navbar .links {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  row-gap: 25px;
}

/* About Page Styles */

.aboutme {
  align-items: left;
  display: flex;
  flex-direction: column;
  float: right;
  font-size: calc(10px + 1vmin);
  font-weight: bold;
  overflow: hidden;
  padding: 40px;
  margin-right: 1%;
  margin-top: 10%;
  top: 20vh;
  z-index: 2;
}

/* Projects Page Styles */

.projects {
  align-items: center;
  float: right;
  font-weight: bold;
  margin-bottom: 2px;
  margin-right: 20px;
  padding: 20px;
  position: relative;
  margin-right: 1%;
  margin-top: 10%;
  z-index: 2;
}

/* Contacts Page Styles */

.contact {
  align-items: center;
  float: right;
  font-weight: bold;
  margin-bottom: 2px;
  margin-right: 20px;
  padding: 20px;
  margin-right: 1%;
  margin-top: 10%;
  z-index: 2;
}

/* App Styles */

.App {
  border: 2px solid #73AD21;
  height: 80vh;
  left: 5vw;
  mix-blend-mode: difference;
  padding: 20px; 
  position: relative;
  top: 6vh;
  width: 90vw;
  z-index: 10;
}
